.container {
    position: relative;
    display: flex;
}

.search {
    position: absolute;
    display: flex;
    gap: 0.5rem;
    top: -25px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.search input {
    background-color: var(--gray-500);
    color: var(--gray-300);
    border-radius: 7px;
    padding: 0.75rem;
    border: none;
    font-size: 1rem;
}

.search input:focus {
    border: var(--purple-dark) 1px solid;
    color: var(--gray-100);
    outline: none;
}

.search button {
    background-color: var(--blue-dark);
    border: none;
    border-radius: 7px;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--gray-100);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    transition: background 0.1s;
    cursor: pointer;
}

.search button:hover {
    background-color: var(--blue);
}

.search button:disabled {
    background-color: var(--gray-300);
    cursor: auto;
}

@media (max-width: 768px){
    .search {
        width: 90vw;
    }
    .search input {
        width: 75%;
    }
    .search button {
        width: 25%;
    }
}

@media (min-width: 768px){
    .search {
        width: 60vw;
    }   
    .search input {
        width: 85%;
    }
    .search button {
        width: 15%;
    }
}